@media screen and (min-width: 768px) {
  .header {
    width: 100%;
  }

  .global-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .root {
    width: 70%;
    margin: 0 auto;
  }
}
