* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
}

.list-one-city {
  width: 100%;
  height: 40vh;

  img {
    height: 99%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  a {
    position: relative;
    top: -50px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);

    h1 {
      font-size: 1.1rem;
      padding: 0.3rem;
      text-transform: uppercase;
    }

    h2 {
      font-size: 0.8rem;
      padding: 0.3rem;
      color: rgb(206, 206, 206);
    }
  }
}

.city-details-conatiner {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  img {
    width: 100%;
    height: 100%;
  }

  div {
    position: relative;
    top: -100px;
  }
}

@import 'font-families';
@import 'reset';
